/*  Made by Thijmen, v0.1
 *  This stylesheet follows the BEM naming methodology (http://getbem.com)
 *
 *  Base size (1rem): 16px
 *  All margins, paddings, etc. based on 16px (e.g: 2, 4, 8, 16, 32...)
 */

/*
 *  GENERAL STYLES
 */

html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    background: #000;
    font-family: forma-djr-text, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
}
::selection {
    background: rgba(255,255,255,.25);
    color: #fff;
}

/*
 *  TYPOGRAPHY
 *  Scale: 1.25 (Major Third)
 */
h1 {
    font-size: 2.441em;
    line-height: 1.12;
    margin: 0;
}
h2 {
    font-size: 1.563rem;
    line-height: 1.12;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
h3 small, h4 small {
    font-size: 80%;
    opacity: .6;
}

p {
    max-width: 600px;
}

@media only screen and (max-width: 600px) {
    h3 small, h4 small {
        display: block;
    }
}
@media only screen and (min-width: 601px) {
    h1 {
        font-size: 3.052rem;
    }
}

a {
    color: #fff;
    text-decoration-color: rgba(255,255,255,.6);
    text-decoration-thickness: .125rem;
    text-underline-offset: .2rem;
    transition: text-decoration-color .2s;
}
a:hover {
    text-decoration-color: #fff;
}

/*
 *  LISTS
 */
.list--no-count {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list li {
    margin-bottom: 1rem;
}
.list h3, .list h4, .list p {
    margin: 0;
}
.list h4 {
    font-weight: 400;
}
.list p {
    opacity: .6;
}

/*
 *  BUTTON
 */
.button {
    color: rgba(255,255,255,.6);
    display: inline-block;
    transition: color .2s, text-decoration-color .2s;
    position: relative;
    padding-right: 1rem;
    text-decoration: none;
}
.button:after {
    display: inline-block;
    content: "";
    height: 1.5em;
    width: 1em;
    background: url('../img/button-arrow-right.svg') no-repeat;
    background-position: right .5em center;
    background-size: 1em auto;
    opacity: .6;
    vertical-align: middle;
    transition: opacity .2s, background-position .2s;
    position: absolute;
    bottom: 0;
    right: -.5em;
}
.button:hover {
    color: #fff;
}
.button:hover:after {
    opacity: 1;
    background-position: right 0 center;
    transition-delay: 0s, .2s;
}

.button--large {
    font-size: 1.25rem;
}
.button--space-above {
    margin-top: 1rem;
}

/*
 *  TIME
 */
.timestamp {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .8rem;
    opacity: .6;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 500;
}

/*
 *  TAGS
 */
.tags {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    font-size: 0; /* Hide space in between items */
    font-family: forma-djr-micro, sans-serif;
    font-weight: 500;
}
.tags li {
    display: inline-block;
    font-size: .64rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    color: rgba(255,255,255,.6);
    padding: .25rem .1rem .25rem .3rem; /* Compensate for letter-spacing on the right */
    line-height: 1;
    margin: 0 .25rem .25rem 0;
}

/*
 *  SECTION
 */
.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.section__title {
    margin: 0 0 1rem;
}
.section__title h2 {
    margin: 0 0 2px;
}

.section__item p:first-child {
    margin-top: 0;
}
.section__item p:last-child {
    margin-bottom: 0;
}

.section--home h2 {
    margin-top: 0;
}
.section--home h1 {
    color: rgba(255,255,255,.6);
}
.section--home h1 b {
    color: #fff;
}

.section--404 h2 {
    color: rgba(255,255,255,.6);
    margin-top: 0;
}

.section--work h1 {
    margin: 0 0 2rem;
}

.section--project {
    padding-bottom: 1rem;
}
.section--project h2 {
    font-weight: 400;
    margin: 0 0 1rem;
}
.section--project img {
    height: 100%;
    display: block;
}
.section--project figure {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 15rem;
    margin: 2rem 0 0;
    padding: 0;
}


@media only screen and (min-width: 601px) {
    .section {
        padding: 2rem 1rem;
    }
    .section--list {
        display: flex;
    }
    .section__title {
        flex: 0 33%;
        text-align: right;
        padding: 24px 2rem 0 0;
    }
    .section__title--no-offset {
        padding-top: 0;
    }
    .section__item {
        flex: 0 66%;
    }

    .section--project {
        padding-bottom: 1rem;
    }
    .section--project figure {
        height: 20rem;
    }

    .section--text {
        display: flex;
    }
    .section--text + .section--text {
        margin-top: -3rem;
    }
    
}
@media only screen and (min-width: 901px) {
    .section {
        padding: 4rem 1rem;
    }
    .section__title {
        flex: 0 33%;
        padding-right: 4rem;
    }
    .section__item {
        flex: 0 50%;
    }

    .section--project {
        padding-bottom: 1rem;
    }
    .section--text + .section--text {
        margin-top: -6rem;
    }
}
@media only screen and (max-width: 968px) {
    .section--project figure {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

/*
 *  TOP MENU
 */
.top {
    max-width: 1000px;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.top--no-logo {
    justify-content: flex-end;
}
.top a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1rem;
    padding: 1rem;
    display: block;
}
.top__logo {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
}
.top__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.top__menu a {
    text-transform: uppercase;
    font-size: .8rem;
    
}

/*
 *  WORK
 */

.work {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    background: #111;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.work h2, .work h3 {
    margin: 0 2rem;
    position: relative;
    z-index: 2;
}
.work h3 {
    font-weight: 400;
}
.work img {
    height: 10rem;
    position: absolute;
    top: 0;
    right: 0;
}

.work--dark {
    color: #000;
}
.work--right {
    text-align: right;
}
.work--right img {
    left: 0;
    right: auto;
}

.work--colour-1 {
    background: #ffeb00;
}
.work--colour-2 {
    background: #ff1874;
}
.work--colour-3 {
    background: #B4B5DF;
}
.work--colour-4 {
    background: #562B9B;
}

@media only screen and (min-width: 601px) {
    .work {
        height: 15rem;
    }
    .work h2, .work h3 {
        margin: 0 100px;
    }
    .work h2 {
        font-size: 2.441em;
    }
    .work img {
        height: 15rem;
    }
}
@media only screen and (max-width: 970px) {
    .work img {
        opacity: .25;
    }
}

.embed {
    position: relative;
    padding-top: 56.25%;
}
.embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
 *  UTILITIES
 */

/* Get the special 'j' for my name. I'm vain, I know. */
.util__name {
    font-feature-settings: "salt";
}

/* Hide on mobile */
@media only screen and (max-width: 600px) {
    .util__hide-small {
        display: none;
    }
}
