/*  Made by Thijmen, v0.1
 *  This stylesheet follows the BEM naming methodology (http://getbem.com)
 */

/*
 *  GENERAL STYLES
 *  Base size (1rem): 16px
 */

html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    background: #000;
    font-family: forma-djr-text, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
}
::selection {
    background: rgba(255,255,255,.25);
    color: #fff;
}

/*
 *  TYPOGRAPHY
 *  Scale: 1.25 (Major Third)
 */
h1 {
    font-size: 1.953em;
}
h2 {
    font-size: 1.563rem;
    line-height: 1.12;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
h3 small, h4 small {
    font-size: 80%;
    opacity: .6;
}

@media only screen and (max-width: 600px) {
    h3 small, h4 small {
        display: block;
    }
}

a {
    color: #fff;
    text-decoration-color: rgba(255,255,255,.25);
    text-decoration-thickness: .125rem;
    text-underline-offset: .2rem;
    transition: text-decoration-color .2s;
}
a:hover {
    text-decoration-color: rgba(255,255,255,.6);
}

/*
 *  LISTS
 */
.list--no-count {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list li {
    margin-bottom: 1rem;
}
.list h3, .list h4, .list p {
    margin: 0;
}
.list h4 {
    font-weight: 400;
}
.list p {
    opacity: .6;
}

/*
 *  BUTTON
 */
.button {
    color: rgba(255,255,255,.6);
    display: inline-block;
    transition: color .2s, text-decoration-color .2s;
    position: relative;
    padding-right: 1rem;
    text-decoration: none;
}
.button:after {
    display: inline-block;
    content: "";
    height: 1.5em;
    width: 1rem;
    background: url('../img/button-arrow-right.svg') no-repeat;
    background-position: right .5rem center;
    background-size: 1rem auto;
    opacity: .6;
    vertical-align: middle;
    transition: opacity .2s, background-position .2s;
    position: absolute;
    bottom: 0;
    right: -.5rem;
}
.button:hover {
    color: #fff;
}
.button:hover:after {
    opacity: 1;
    background-position: right 0 center;
    transition-delay: 0s, .2s;
}

/*
 *  TIME
 */
.timestamp {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .8rem;
    opacity: .6;
}

/*
 *  SECTION
 */
.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.section__title {
    margin: 0 0 1rem;
}
.section__title h2 {
    margin: 0 0 2px;
}

@media only screen and (min-width: 601px) {
    .section {
        padding: 2rem 1rem;
    }
    .section--list {
        display: flex;
    }
    .section--list .section__title {
        flex: 0 33%;
        text-align: right;
        padding: 24px 2rem 0 0;
    }
    .section--list .section__item {
        flex: 0 66%;
    }
}
@media only screen and (min-width: 901px) {
    .section {
        padding: 4rem 1rem;
    }
    .section--list .section__title {
        flex: 0 33%;
        padding-right: 4rem;
    }
    .section--list .section__item {
        flex: 0 50%;
    }
}

/*
 *  TOP MENU
 */
.top {
    max-width: 1000px;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.top--no-logo {
    justify-content: flex-end;
}
.top a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1rem;
    padding: 1rem;
    display: block;
}
.top__logo {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
}
.top__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.top__menu a {
    text-transform: uppercase;
    font-size: .8rem;
    
}

/*
 *  UTILITIES
 */

/* Get the special 'j' for my name. I'm vain, I know. */
.util__name {
    font-feature-settings: "salt";
}